@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

<nav class="container">
   <ul>
      <li><a href="/profile">Profile</a></li>
      @restrict(roles = List(Array("measure"))) {
          <li>
             <a href="/measure_list">Medidas<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/measure_list">Lista</a></li>
                   @restrict(roles = List(Array("measureCreate"))) {
                    <li><a href="/measure_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("product"))) {
          <li>
             <a href="/product_list">Productos<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/product_list">Lista</a></li>
                   @restrict(roles = List(Array("productCreate"))) {
                    <li><a href="/product_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("proveedor"))) {
          <li>
             <a href="/proveedor_list">Proveedores<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/proveedor_list">Lista</a></li>
                   @restrict(roles = List(Array("proveedorCreate"))) {
                    <li><a href="/proveedor_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("module"))) {
          <li>
             <a href="/module_list">Modulos<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/module_list">Lista</a></li>
                   @restrict(roles = List(Array("moduleCreate"))) {
                    <li><a href="/module_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("productor"))) {
          <li>
             <a href="/productor_list">Productores<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/productor_list/1">Lista</a></li>
                   @restrict(roles = List(Array("productorCreate"))) {
                    <li><a href="/productor_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("user"))) {
          <li>
             <a href="/user_list">Usuarios<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/user_list">Lista</a></li>
                   @restrict(roles = List(Array("userCreate"))) {
                    <li><a href="/user_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("account"))) {
          <li>
             <a href="/account_list">Cuentas<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/account_list">Lista</a></li>
                   @restrict(roles = List(Array("accountCreate"))) {
                    <li><a href="/account_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("transaction"))) {
          <li>
             <a href="/transaction_list">Transacciones<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/transaction_list">Lista</a></li>
                   @restrict(roles = List(Array("transactionCreate"))) {
                    <li><a href="/transaction_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("report"))) {
          <li>
             <a href="/report_list">Reportes<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/report_list">Lista</a></li>
                   @restrict(roles = List(Array("reportCreate"))) {
                    <li><a href="/report_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("productRequest"))) {
          <li>
             <a href="/productRequest_list">Pedidos<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/productRequest_list">Lista</a></li>
                   @restrict(roles = List(Array("productRequestCreate"))) {
                    <li><a href="/productRequest_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
      @restrict(roles = List(Array("discountReport"))) {
          <li>
             <a href="/discountReport_list">Descuentos<span class="caret"></span></a>
             <div>
                <ul>
                   <li><a href="/discountReport_list">Lista</a></li>
                   @restrict(roles = List(Array("discountReportCreate"))) {
                    <li><a href="/discountReport_add">Agregar</a></li>
                   }
                </ul>
             </div>
          </li>
      }
   </ul>
</nav>