@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/account_show.js")'></script>
    <div>
        <a href="/account_list"><span class="glyphicon glyphicon-plus">Lista de Cuentas</span></a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Codigo: </div>
            <div style="display: inline-block;" id="code">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Nombre: </div>
            <div style="display: inline-block;" id="name">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Tipo: </div>
            <div style="display: inline-block;" id="type_1">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Description: </div>
            <div style="display: inline-block;" id="description">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Hoja: </div>
            <div style="display: inline-block;" id="child">  </div>
        </div>
    </div>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/accountChildren.js")'></script>
    <div>Cuentas dependientes</div>
    <div class="table-responsive">
        <table class="table" id="children">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/transactionDetailByAccount_index.js")'></script>
    <div>Detalle</div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Folio</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td><div style="display: inline-block;" id="totalDebit"></div></td>
                    <td><div style="display: inline-block;" id="totalCredit"></div></td>
                </tr>
            </tfoot>
        </table>
    </div>

}
