@(rowId: String)
@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/discountReport_show.js")'></script>
    <div>
        <a href="/discountReport_list">Lista</a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Start date: </div>
            <div style="display: inline-block;" id="startDate">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> End Date: </div>
            <div style="display: inline-block;" id="endDate">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Estado: </div>
            <div style="display: inline-block;" id="status">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Total: </div>
            <div style="display: inline-block;" id="total">  </div>
        </div>
    </div>
    <div>
        <div style="display: inline-block;"> <a href="/discountDetail_addGet" class="btn btn-primary">Agregar Productores</a> <a href="/discountReport_generarReporte/@rowId" class="btn btn-primary">Generar reporte</a> </div>
        <a href="/discountReport_show_pdf/@rowId" class="btn btn-info">PDF</a>
    </div>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/discountDetailByReport.js")'></script>
    <div style="font-size: larger; font-weight: 800;">
        Lista de Productores
    </div>
    <div class="table-responsive">
        <table class="table" id="descuentos_rows">
            <thead>
                <tr>
                    <th>Report</th>
                    <th>Productor</th>
                    <th>Status</th>
                    <th>Descuento</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>

}
