@(row: Form[UpdateDiscountReportForm], productos: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
	<a href="/productInv_list"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.DiscountReportController.updatePost()) {
        @inputText(row("startDate"))
        @inputText(row("endDate"))
        @inputText(row("status"))
        @inputText(row("total"))
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="/productInv_list" class="btn btn-primary">Cancel</a>
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
    }
}
