@(handler: be.objectify.deadbolt.scala.DeadboltHandler, discountId: Long, row: Form[CreateDiscountDetailForm], discounts: Map[String, String], productors: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Crear") {
    <div class="container">
        @restrict(roles = List(Array("discountReportShow"))) {
            <a href="/discountReport_show/@discountId" class="btn btn-primary">Reporte</a> 
        }
    </div>
    <div style="display: inline-block;">
        @form(routes.DiscountDetailController.setProductor()) {
            @inputText(row("account"))
            <input type="submit" value="Buscar Por Cuenta" class="btn btn-primary"/>
        }        
    </div>
    <div style="display: inline-block;">
        @form(routes.DiscountDetailController.setProductorName()) {
            @inputText(row("name"))
            <input type="submit" value="Buscar Por Nombre" class="btn btn-primary"/>
        }
    </div>
    @form(routes.DiscountDetailController.add()) {
        @select(field = row("productorId"), options = options(productors))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        @inputText(row("discount"))
        <input type="submit" value="Guardar" class="btn btn-primary"/>
        <a href="/discountReport_show/@discountId" class="btn btn-primary">Cancel</a>
        @select(field = row("discountReport"), options = options(discounts), 'hidden -> "true", '_label -> "")
    }
}
