@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: DiscountDetail)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/discountDetail_show.js")'></script>
    <div>
        <div class="container">
        @restrict(roles = List(Array("discountReportShow"))) {
            <a href="/discountReport_show/@row.discountReport" class="btn btn-primary">Reporte</a> 
        }
        @restrict(roles = List(Array("discountDetailDelete"))) {
           <a href="/discountDetail_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Productor: </div>
            <div style="display: inline-block;" id="productorName">@row.productorName</div>
        </div>
        <div>
            <div style="display: inline-block;"> Estado: </div>
            <div style="display: inline-block;" id="status">@row.status</div>
        </div>
        <div>
            <div style="display: inline-block;"> Descuento: </div>
            <div style="display: inline-block;" id="discount">@row.discount</div>
        </div>
    </div>
}
