@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: DiscountDetail, rowForm: Form[UpdateDiscountDetailForm], products: Map[String, String], vendors: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Actualizar") {
    <div class="container">
        @restrict(roles = List(Array("discountReportShow"))) {
            <a href="/discountReport_show/@row.discountReport" class="btn btn-primary">Reporte</a> 
        }
        @restrict(roles = List(Array("discountDetailDelete"))) {
           <a href="/discountDetail_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    @form(routes.DiscountDetailController.updatePost()) {
        @select(field = rowForm("productorId"), options = options(vendors))
        @inputText(rowForm("status"))
        @inputText(rowForm("discount"))
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="/discountDetail_show/1" class="btn btn-primary">Cancelar</a>
        @inputText(rowForm("id"), 'hidden -> "true", '_label -> "")
        @select(field = rowForm("discountReport"), options = options(products), 'hidden -> "true", '_label -> "")
    }
}
