@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Pagina Principal") {
    @examples.templates.nav(handler)
    <div><a href="/logout">Cerrar session</a>
    </div>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <div class="table-responsive">
        <table class="table" id="clientes">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Accion</th>
                </tr>
            </thead>
        </table>
    </div>
}
