@(row: Form[UpdateInsumoUserForm])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
	<a href="/insumoUser_list"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.InsumoUserController.updatePost()) {
        @inputText(row("nombre"))
        @inputText(row("carnet"))
        @inputText(row("telefono"))
        @inputText(row("direccion"))
        @inputText(row("sueldo"))
        @inputText(row("type_1"))
        @inputText(row("login"))
        @inputText(row("password"))
        <input type="submit" value="Actualizar"/>
        <a href="/insumoUser_list"><span class="glyphicon glyphicon-plus">Cancel</span></a>
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
    }
}
