@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateMeasureForm], measures: Map[String, String])(implicit messages: Messages, request: Request[Any])

@import helper._

@main("Agregar") {
    @examples.templates.nav(handler)
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/measure_index.js")'></script>
    <div>
        <a href="/">Muro</a>
    </div>
    @form(routes.MeasureController.add()) {
        @inputText(row("name"))
        @inputText(row("quantity"))
        @inputText(row("description"))
        @select(field = row("measureId"), options = options(measures))
        <input type="submit" value="Agregar Unidad de Medida" class="btn btn-primary btn-sm"/>
        <a href="measure_list" class="btn btn-primary btn-sm">Cancelar</a>
    }
}
