@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Module)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Mostrar") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("moduleList"))) {
            <a href="/module_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("moduleEdit"))) {
            <a href="/module_update/@row.id" class="btn btn-primary">Editar</a> 
        }
        @restrict(roles = List(Array("moduleDelete"))) {
           <a href="/module_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Nombre: </div>
            <div style="display: inline-block;" id="name">@row.name</div>
        </div>
        <div>
            <div style="display: inline-block;"> Presidente: </div>
            <div style="display: inline-block;" id="president">@row.president</div>
        </div>
        <div>
            <div style="display: inline-block;"> Descripcion: </div>
            <div style="display: inline-block;" id="description">@row.description</div>
        </div>
    </div>
    <div class="container">
        <div>Productores</div>
        <div class="table-responsive">
            <table class="table" id="rows">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Carnet</th>
                        <th>-----------</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

}
