@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Module, rowForm: Form[UpdateModuleForm], associations: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Actualizar Modulo") {
	@examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("moduleList"))) {
            <a href="/module_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("moduleShow"))) {
           <a href="/module_show/@row.id" class="btn btn-info">Mostrar</a>
        }
        @restrict(roles = List(Array("moduleDelete"))) {
           <a href="/module_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    @form(routes.ModuleController.updatePost()) {
        @inputText(rowForm("name"))
        @inputText(rowForm("president"))
        @inputText(rowForm("description"))
        @select(field = rowForm("asociacion"), options = options(associations))
        <input type="submit" value="Actualizar"  class="btn btn-primary"/>
        <a href="/module_show/@row.id" class="btn btn-primary">Cancelar</a>
        @inputText(rowForm("id"), 'hidden -> "true", '_label -> "")
    }
}
