@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rows: Seq[Module])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._


@main("Agregar") {
    @examples.templates.nav(handler)
    <div class="container">
       <a href="/"  class="btn btn-primary">Muro</a>
        @restrict(roles = List(Array("moduleCreate"))) {
           <a href="/module_add" class="btn btn-primary">Agregar Modulo</a> 
       }
    </div>
    <div>
        Lista de Modulos
    </div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Presidente</th>
                    <th>Descripcion</th>
                    <th>Asociacion</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- rows) {
                    <tr>
                        <td>@row.name</td>
                        <td>@row.president</td>
                        <td>@row.description</td>
                        <td>@row.asociacionName</td>
                       <td>
                           @restrict(roles = List(Array("moduleEdit"))) {
                               <a href="/module_update/@row.id" class="btn btn-primary">Editar</a> 
                           }
                           @restrict(roles = List(Array("moduleDelete"))) {
                               <a href="/module_remove/@row.id" class="btn btn-danger">Eliminar</a>
                           }
                           @restrict(roles = List(Array("moduleShow"))) {
                               <a href="/module_show/@row.id" class="btn btn-info">Mostrar</a>
                           }
                       </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
