@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Product, children: Seq[ProductInv])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Mostrar") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productList"))) {
            <a href="/product_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("productEdit"))) {
           <a href="/product_update/@row.id" class="btn btn-primary">Editar</a>
        }
        @restrict(roles = List(Array("productDelete"))) {
           <a href="/product_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    <div class="container">
        <div >
            <div>
                <div style="display: inline-block;">Nombre: </div>
                <div style="display: inline-block;" id="nombre">@row.nombre</div>
            </div>
            <div>
                <div style="display: inline-block;">Costo: </div>
                <div style="display: inline-block;" id="cost">@row.cost</div>
            </div>
            <div>
                <div style="display: inline-block;">Porcentage: </div>
                <div style="display: inline-block;" id="percent">@row.percent</div>
            </div>
            <div>
                <div style="display: inline-block;">Precio: </div>
                <div style="display: inline-block;" id="price">@row.price</div>
            </div>
            <div>
                <div style="display: inline-block;">Description: </div>
                <div style="display: inline-block;" id="description">@row.descripcion</div>
            </div>
            <div>
                <div style="display: inline-block;">Unidad De Medida: </div>
                <div style="display: inline-block;" id="unitMeasure">@row.unitMeasureName</div>
            </div>
            <div>
                <div style="display: inline-block;">En Inventario: </div>
                <div style="display: inline-block;" id="currentAmount">@row.currentAmount</div>
            </div>
            
        </div>
        <div class="container">
            <img src="@routes.Assets.versioned("images/@(row.id)_product.jpg")" width="200">
            @helper.form(action = routes.ProductController.upload(row.id), 'enctype -> "multipart/form-data") {
                <input type="file" name="picture">
                <input type="submit">
            }
        </div>
        <div class="container">
                <div style="display: inline-block;"><a href="/productInvs_add/@row.id" class="btn btn-primary">Registrar producto</a> </div>
            </div>
            <div class="table-responsive">
                <table class="table" id="rows">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Medida</th>
                            <th>cantidad</th>
                            <th>En Almacen</th>
                            @restrict(roles = List(Array("productInv"))) {
                                <th>-----------</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for(child <- children) {
                            <tr>
                                <td>
                                    @restrictOr(roles = List(Array("proveedorShow"))) {
                                       <a href="/proveedor_show/@child.proveedorId">@child.proveedorName
                                    </a> 
                                    }{
                                        @child.proveedorName                                    
                                    }
                                </td>
                                <td>
                                    @restrictOr(roles = List(Array("measureShow"))) {
                                       <a href="/measure_show/@child.measureId">@child.measureName
                                    </a> 
                                    }{
                                        @child.measureName                                    
                                    }
                                </td>
                                <td>@child.amount</td>
                                <td>@child.amountLeft</td>
                                @restrict(roles = List(Array("productInv"))) {
                                    <td>
                                       @restrict(roles = List(Array("productInvEdit"))) {
                                           <a href="/productInv_update/@child.id" class="btn btn-primary">Editar</a> 
                                       }
                                       @restrict(roles = List(Array("productInvDelete"))) {
                                           <a href="/productInv_remove/@child.id" class="btn btn-danger">Eliminar</a>
                                       }
                                       @restrict(roles = List(Array("productInvShow"))) {
                                           <a href="/productInv_show/@child.id" class="btn btn-info">Mostrar</a>
                                       }
                                   </td> 
                               }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
}
