@(row: Form[CreateProductForm], unitMeasures: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Agregar") {
    <div>
        <a href="/" >Muro</a>
    </div>
    @form(routes.ProductController.addProduct()) {
        <div class="container">
                @inputText(row("nombre"))
                @inputText(row("cost"))
                @inputText(row("percent"))
                @select(field = row("unitMeasure"), options = options(unitMeasures))
                @inputText(row("currentAmount"))
                @textarea(row("descripcion"), 'rows -> 3, 'cols -> 100)
                <br/>
                <br/>
                <br/>
               <input type="submit" class="btn btn-primary" value="Agregar Producto"/>
               <a href="/product_list" class="btn btn-info">Cancelar</a>
            </div>
        </div>
    }
}
