@(row: Form[UpdateProductForm], unitMeasures: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
    @form(routes.ProductController.updatePost()) {
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @inputText(row("nombre"))
        @inputText(row("cost"))
        @inputText(row("percent"))
        @inputText(row("price"))
        @inputText(row("descripcion"))
        @select(field = row("unitMeasure"), options = options(unitMeasures))
        @inputText(row("currentAmount"))
        <input type="submit" class="btn btn-primary" value="Actualizar"/>
        <a href="/products_view" class="btn btn-primary">Cancel</a>
    }
}
