@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateProductorForm], rowSearch: Form[SearchProductorForm], modules: Map[String, String], productors: Seq[Productor], searchProductors: Seq[Productor], total: Int, currentPage: Int, interval: Int)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Agregar") {
    <div>
        <a href="/">Muro</a>
    </div>
    @form(routes.ProductorController.add()) {
        @inputText(row("nombre"), '_label -> "Nombre Productor")
        @inputText(row("carnet"))
        @inputText(row("telefono"))
        @inputText(row("direccion"))
        @inputText(row("account"))
        @select(field = row("module"), options = options(modules))
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    }
    <div>
     @form(routes.ProductorController.searchProduct()) {
        @inputText(rowSearch("account"))
        <input type="submit" value="Buscar" class="btn btn-primary"/>
    }   
    </div>

     <div class="table-responsive">
        <table class="table" id="searchProducts">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Cuenta</th>
                    <th>Modulo</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody>
            @for(productor <- searchProductors) {
                <tr>
                    <td></td>
                    <td>@productor.nombre</td>
                    <td>@productor.carnet</td>
                    <td>@productor.telefono</td>
                    <td>@productor.account</td>
                    <td>@productor.module</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Cuenta</th>
                    <th>Modulo</th>
                    <th>---</th>
                </tr>
                <tr>
                    <th colspan="7">
                        Paginas
                        <a href="/productores_view/1">1</a>....
                            @for(index <- currentPage - 3 until (currentPage + 3)) {
                                @if(index > 1) {
                                    @if(index == currentPage) {
                                        - <a href="/productores_view/@index" style="color: red;"><b>@index</b></a>
                                    }
                                    @if(index != currentPage) {
                                        - <a href="/productores_view/@index">@index</a>
                                    }
                                }
                            }
                        ....<a href="/productores_view/@(total/interval + 1)">@(total/interval + 1)</a>
                        (Total: @total)
                    </th>
                </tr>
            </thead>
            <tbody>
            @for(productor <- productors) {
                <tr>
                    <td></td>
                    <td>@productor.nombre</td>
                    <td>@productor.carnet</td>
                    <td>@productor.telefono</td>
                    <td>@productor.account</td>
                    <td>@productor.module</td>
                    <td>
                        @restrict(roles = List(Array("admin"))) {
                            <a href="/productor_update/@productor.id" class="btn btn-primary">Editar</a> 
                            <a href="/productor_remove/@productor.id" class="btn btn-danger">Eliminar</a>
                            <a href="/productor_show/@productor.id" class="btn btn-info">Mostrar</a>'
                        }
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">
                        Paginas
                        <a href="/productores_view/1">1</a>....
                            @for(index <- currentPage - 3 until (currentPage + 3)) {
                                @if(index > 1) {
                                    @if(index == currentPage) {
                                        - <a href="/productores_view/@index" style="color: red;"><b>@index</b></a>
                                    }
                                    @if(index != currentPage) {
                                        - <a href="/productores_view/@index">@index</a>
                                    }
                                }
                            }
                        ....<a href="/productores_view/@(total/interval + 1)">@(total/interval + 1)</a>
                        (Total: @total)
                    </th>
                </tr>
            </tfoot>
        </table>
        <style type="text/css">
            body {
                counter-reset: Serial;
            }
            table {
                border-collapse: separate;
            }
            tr td:first-child:before {
              counter-increment: Serial;
              content: counter(Serial);
            }
        </style>
    </div>
}
