@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rows: Seq[Product])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._


@main("Agregar") {
    <div class="container">
        @restrict(roles = List(Array("productCreate"))) {
                                <a href="/product_add" class="btn btn-primary">Crear</a> 
        }
    </div>
    
    <div class="container">
        Lista de Productos
    </div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Porcentage</th>
                    <th>Precio</th>
                    <th>Unidad de Medida</th>
                    <th>En Inventario</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- rows) {
                    <tr>
                        <td>@row.nombre</td>
                        <td>@row.cost</td>
                        <td>@row.percent</td>
                        <td>@row.price</td>
                        <td>@row.currentAmount</td>
                        <td>
                            @restrict(roles = List(Array("productEdit"))) {
                                <a href="/product_update/@row.id" class="btn btn-primary">Editar</a> 
                            }
                            @restrict(roles = List(Array("productDelete"))) {
                                <a href="/product_remove/@row.id" class="btn btn-danger">Eliminar</a>
                            }
                            @restrict(roles = List(Array("productShow"))) {
                                <a href="/product_show/@row.id" class="btn btn-info">Mostrar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
               
            </tfoot>
        </table>
    </div>
}
