@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Productor, rowForm: Form[UpdateProductorForm], modules: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Actualizar Productor") {
    @examples.templates.nav(handler)
    <div>
        @restrict(roles = List(Array("productorList"))) {
            <a href="/productor_list/1" class="btn btn-primary btn-sm">Listar</a> 
        }
        @restrict(roles = List(Array("productorShow"))) {
            <a href="/productor_show/@row.id" class="btn btn-info btn-sm">Mostrar</a> 
        }
        @restrict(roles = List(Array("productorDelete"))) {
           <a href="/productor_remove/@row.id" class="btn btn-danger btn-sm">Eliminar</a>
        }
    </div>

    @form(routes.ProductorController.updatePost()) {
    <div class="container">
            @inputText(rowForm("name"))
            @inputText(rowForm("carnet"))
            @inputText(rowForm("telefono"))
            @inputText(rowForm("direccion"))
            @select(field = rowForm("module"), options = options(modules))
            @inputText(rowForm("account"))
            @inputText(rowForm("totalDebt"), 'readonly -> "readonly")
            @inputText(rowForm("numberPayment"))
            @inputText(rowForm("position"), 'readonly -> "readonly")
            @inputText(rowForm("acopio"))
            @inputText(rowForm("promedio"))
            @inputText(rowForm("excedent"))
            @inputText(rowForm("pleno"))
        <input type="submit" value="Actualizar"  class="btn btn-primary btn-sm"/>
        <a href="/productor_show/@row.id" class="btn btn-primary btn-sm">Cancelar</a>
        @inputText(rowForm("id"), 'hidden -> "true", '_label -> "")
    </div>
    }
}
