@(row: Form[CreateProductRequestByInsumoForm], insumoUsers: Map[String, String], modulos: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Crear") {
    <div>
        <a href="/"></a>
    </div>
    @form(routes.ProductRequestByInsumoController.add()) {
        @inputText(row("date"))
        @select(field = row("user"), options = options(insumoUsers))
        @select(field = row("module"), options = options(modulos))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        @inputText(row("detail"))
        <input type="submit" value="Guardar Pedido" class="btn btn-primary"/> <a href="/" class="btn btn-primary"> Cancelar</a>
    }
}
