@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productRequestInsumo_show.js")'></script>
    <div>
        <a href="/profile"><span class="glyphicon glyphicon-plus">Cuenta</span></a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Date: </div>
            <div style="display: inline-block;" id="date">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Status: </div>
            <div style="display: inline-block;" id="status">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Modulo: </div>
            <div style="display: inline-block;" id="moduleName">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Detail: </div>
            <div style="display: inline-block;" id="detail">  </div>
        </div>
    </div>
    <div>
            <div style="display: inline-block;"> <a href="/requestRowByInsumo_addGet" class="btn btn-primary btn-sm">Agregar Productos</a> </div>
    </div>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/requestRowInsumo_index.js")'></script>
    <div>Lista de Productos</div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Pagado</th>
                    <th>Estado</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>

}
