@(row: Form[CreateProductForm], unitMeasures: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Agregar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/product_index.js")'></script>
    <div>
        <a href="/" >Muro</a>
    </div>
    @form(routes.ProductController.addProduct()) {
        <div class="container">
        <div class="col-md-6">
            @inputText(row("nombre"))
            @inputText(row("cost"))
            @inputText(row("percent"))
            @textarea(row("descripcion"), 'rows -> 3, 'cols -> 100)
        </div>
        <div class="col-md-6">
            @select(field = row("unitMeasure"), options = options(unitMeasures))
            @inputText(row("currentAmount"))
        </div>
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Agregar Producto"/>
        </div>
        </div>
    }
    <div>
        Lista de Productos
    </div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Porcentage</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Unidad de Medida</th>
                    <th>En Inventario</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
