@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rowId: Long, row: Form[UpdateProductRequestForm], veterinarios: Map[String, String], storekeepers: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Actualizar") {
    <div class="container">
        @restrict(roles = List(Array("productRequestList"))) {
            <a href="/productRequest_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("productRequestDelete"))) {
           <a href="/productRequest_remove/@rowId" class="btn btn-danger">Eliminar</a>
        }
    </div>
    @form(routes.ProductRequestController.updatePost()) {
        @inputText(row("date"))
        @select(field = row("veterinario"), options = options(veterinarios))
        @select(field = row("storekeeper"), options = options(storekeepers))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        @inputText(row("detail"))
        <input type="submit" value="Actualizar"  class="btn btn-primary"/>
        <a href="/productRequest_show/@rowId"  class="btn btn-primary">Cancel</a>
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
    }
}
