@(row: Form[UpdateProductRequestByInsumoForm], users: Map[String, String], modules: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
	<a href="/productInv_list"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.ProductRequestByInsumoController.updatePost()) {
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @inputText(row("date"))
        @select(field = row("user"), options = options(users))
        @select(field = row("modulo"), options = options(modules))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        @inputText(row("detail"))
        <input type="submit" value="Actualizar"/>
        <a href="/productInv_list"><span class="glyphicon glyphicon-plus">Cancel</span></a>
    }
}
