@(row: Form[UpdateProductInvForm], products: Map[String, String], vendors: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
	<a href="/productInv_list">Lista</a>
    @form(routes.ProductInvController.updatePost()) {
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @select(field = row("productId"), options = options(products))
        @select(field = row("proveedorId"), options = options(vendors))
        @inputText(row("amount"))
        @inputText(row("amountLeft"))
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="/productInv_list" class="btn btn-primary">Cancelar</a>
    }
}
