@(handler: be.objectify.deadbolt.scala.DeadboltHandler, proveedor: Form[CreateProveedorForm])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Agregar proveedor") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("proveedorList"))) {
            <a href="/proveedor_list" class="btn btn-primary btn-sm">Listar</a> 
        }
    </div>
    @form(routes.ProveedorController.addProveedor()) {
        <div class="container">
            @inputText(proveedor("name"))
            @inputText(proveedor("telefono"))
            @inputText(proveedor("direccion"))
            @inputText(proveedor("contacto"))
            @inputText(proveedor("account"))
            <input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
            <a href="/proveedor_list" class="btn btn-primary btn-sm">Cancelar</a>
        </div>
    }
}
