@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rows: Seq[Proveedor])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Agregar proveedor") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/proveedor_index.js")'></script>
    <div class="container">
       <a href="/"  class="btn btn-primary">Muro</a>
        @restrict(roles = List(Array("proveedorCreate"))) {
           <a href="/proveedor_add" class="btn btn-primary">Agregar Proveedor</a> 
       }
    </div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Contacto</th>
                    <th>Cuenta</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- rows) {
                    <tr>
                        <td>@row.nombre</td>
                        <td>@row.telefono</td>
                        <td>@row.direccion</td>
                        <td>@row.contacto</td>
                        <td>@row.account</td>
                       <td>
                           @restrict(roles = List(Array("proveedorEdit"))) {
                               <a href="/proveedor_update/@row.id" class="btn btn-primary">Editar</a> 
                           }
                           @restrict(roles = List(Array("proveedorDelete"))) {
                               <a href="/proveedor_remove/@row.id" class="btn btn-danger">Eliminar</a>
                           }
                           @restrict(roles = List(Array("proveedorShow"))) {
                               <a href="/proveedor_show/@row.id" class="btn btn-info">Mostrar</a>
                           }
                       </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
