@(row: Form[UpdateRequestRowProductorForm], requests: Map[String, String], productos: Map[String, String], productors: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
	<a href="/productInv_list"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.RequestRowProductorController.updatePost()) {
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @select(field = row("requestRowId"), options = options(requests))
        @select(field = row("productId"), options = options(productos))
        @select(field = row("productorId"), options = options(productors))
        @inputText(row("quantity"))
        @inputText(row("precio"))
        @inputText(row("status"))
        <input type="submit" value="Actualizar"/>
        <a href="/requestRow_list"><span class="glyphicon glyphicon-plus">Cancel</span></a>
    }
}
