@(handler: be.objectify.deadbolt.scala.DeadboltHandler, requestRowId: Long, row: Form[CreateRequestRowProductorForm], requests: Map[String, String], products: Map[String, String], productors: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Crear") {
        <div>
        @restrict(roles = List(Array("requestRowList"))) {
            <a href="/requestRow_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("requestRowShow"))) {
            <a href="/requestRow_show/@requestRowId" class="btn btn-primary">Request Row</a> 
        }
    </div>
    @form(routes.RequestRowProductorController.add()) {
        @select(field = row("requestRowId"), options = options(requests))
        @select(field = row("productorId"), options = options(productors))
        @select(field = row("productId"), options = options(products))
        @inputText(row("quantity"))
        @inputText(row("precio"))
        @select(field = row("status"), options = options(Map("borrador" -> "Borrador")))
        <input type="submit" value="Guardar" class="btn btn-primary"/>
        <a href="/requestRow_show/@requestRowId" class="btn btn-primary"> Cancelar</a>
    }
}
