@(handler: be.objectify.deadbolt.scala.DeadboltHandler, requestRowId: Long, searchForm: Form[SearchModuleForm], rowForm: Form[CreateRequestRowProductorForm], requests: Map[String, String], products: Map[String, String], productors: Map[String, String], measures: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Nuevo") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("requestRowShow"))) {
            <a href="/requestRow_show/@requestRowId" class="btn btn-info btn-sm">Detalle de Pedido</a> 
        }
    </div>

    <div style="display: inline-block;">
        @form(routes.RequestRowProductorController.searchProductorPost()) {
            @inputText(searchForm("search"))
            <input type="submit" value="Buscar Productor" class="btn btn-primary btn-sm"/>
        }        
    </div>

    @form(routes.RequestRowProductorController.addModule()) {
        @select(field = rowForm("productId"), options = options(products))
        @select(field = rowForm("productorId"), options = options(productors), '_label -> "Modulo")
        @inputText(rowForm("quantity"))
        @inputText(rowForm("price"))
        @inputText(rowForm("totalValue"))
        @inputText(rowForm("paid"))
        @inputText(rowForm("credit"))
        @select(field = rowForm("status"), options = options(Map("borrador" -> "Borrador")))
        @select(field = rowForm("measureId"), options = options(measures)))
        @inputText(rowForm("observation"))
        <input type="submit" value="Guardar" class="btn btn-primary btn-sm"/>
        <a href="/requestRowByInsumo_show/@requestRowId" class="btn btn-primary btn-sm">Cancelar</a>
        @select(field = rowForm("requestRowId"), options = options(requests), 'hidden -> "true", '_label -> "")
    }
}
