@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/requestRow_show.js")'></script>
    <div>
        <a href="/productRequest_show/1"><span class="glyphicon glyphicon-plus">Lista</span></a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Id: </div>
            <div style="display: inline-block;" id="Id">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Request: </div>
            <div style="display: inline-block;" id="requestId">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Product: </div>
            <div style="display: inline-block;" id="productName">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Quantity: </div>
            <div style="display: inline-block;" id="quantity">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Status: </div>
            <div style="display: inline-block;" id="status">  </div>
        </div>
    </div>
    <div>
            <div style="display: inline-block;"> <a href="/requestRowProductor_addGet"  class="btn btn-primary">Entrega de Producto</a> </div>
    </div>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/requestRowProductorsByRequestRow.js")'></script>
    <div>Lista de Productos Entregados</div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>RequestRowId</th>
                    <th>Producto</th>
                    <th>Productor</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>

}
