@(row: Form[UpdateRequestRowByInsumoForm], requests: Map[String, String], productos: Map[String, String], measures: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
	<a href="/productInv_list"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.RequestRowByInsumoController.updatePost()) {
        @select(field = row("productId"), options = options(productos))
        @inputText(row("quantity"))
        @inputText(row("price"))
        @inputText(row("status"))
        @select(field = row("measureId"), options = options(measures))
        <input type="submit" value="Actualizar"/>
        <a href="/requestRow_list"><span class="glyphicon glyphicon-plus">Cancel</span></a>
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @select(field = row("requestId"), options = options(requests), 'hidden -> "true", '_label -> "")
    }
}
