@import helper._
@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._
@main("Mostrar") {
<nav class="container">
       <ul>
          @restrict(roles = List(Array("admin"))) {
              <li>
                 <a href="/measure_list">Unidades de Medida<span class="caret"></span></a>
                 <div>
                    <ul>
                       <li><a href="/measure_list">Lista</a></li>
                    </ul>
                 </div>
              </li>
              <li><a href="/product_list">Productos</a></li>
              <li><a href="/proveedor_list">Proveedores</a></li>
              <li><a href="/module_list">Modulos</a></li>
              <li><a href="/productor_list/1">Productores</a></li>
              <li><a href="/user_list">Usuarios</a></li>
              <li><a href="/account_list">Cuentas</a></li>
              <li><a href="/transaction_list">Transacciones</a></li>
              <li><a href="/reporte_list">Reportes</a></li>
          }
            @restrict(roles = List(Array("veterinario"))) {
              <li><a href="/transaction_list">Transacciones</a></li>
              <li><a href="/reporte_list">Reportes</a></li>
          }
          @restrict(roles = List(Array("almacen"))) {
              <li> <a href="/measure_list">Unidades de Medida<span class="caret"></span></a> </li>
              <li><a href="/product_list">Productos</a></li>
              <li><a href="/proveedor_list">Proveedores</a></li>
              <li><a href="/module_list">Modulos</a></li>
              <li><a href="/productor_list/1">Productores</a></li>
              <li><a href="/user_list">Usuarios</a></li>
              <li><a href="/transaction_list">Transacciones</a></li>
          }
          @restrict(roles = List(Array("contabilidad"))) {
              <li><a href="/transaction_list">Transacciones</a></li>
          }
          @restrict(roles = List(Array("insumo"))) {
              <li> <a href="/measure_list">Unidades de Medida<span class="caret"></span></a> </li>
              <li><a href="/product_list">Productos</a></li>
              <li><a href="/proveedor_list">Proveedores</a></li>
              <li><a href="/module_list">Modulos</a></li>
              <li><a href="/productor_list/1">Productores</a></li>
              <li><a href="/user_list">Usuarios</a></li>
              <li><a href="/transaction_list">Transacciones</a></li>
          }
       </ul>
    </nav>
    <div>
        <a href="/logout">Cerrar session</a>
    </div>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/storekeeper_profile.js")'></script>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Nombre: </div>
            <div style="display: inline-block;" id="name">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Carnet: </div>
            <div style="display: inline-block;" id="carnet">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Telefono: </div>
            <div style="display: inline-block;" id="telefono">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Direccion: </div>
            <div style="display: inline-block;" id="direccion">  </div>
        </div>
    </div>
    <!-- Copy from productrequest_index.scala.html -->

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productRequestByStorekeeper.js")'></script>
    <div>
        <a href="/"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div>Lista de Pedidos En cola</div>
    <div class="table table-bordered">
        <table class="table table-bordered" id="rows">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Veterinario</th>
                    <th>Almacen</th>
                    <th>Status</th>
                    <th>Detail</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table table-bordered">
        <div>
            Formularios
        </div>
        <table class="table table-bordered" id="clientes">
            <thead>
                <tr>
                    <th>Formulario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tr>
                <td>
                    Productos
                </td>
                <td>
                    <a href="/product_list"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                    <a href="/products"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Proveedores
                </td>
                <td>
                    <a href="/proveedor_list"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                    <a href="/proveedores"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Productores
                </td>
                <td>
                    <a href="/productor_list"><span class="glyphicon glyphicon-plus">Lista</span></a>
                    <a href="/productores"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
        </table>
    </div>

}
