@(row: User)
@import helper._

@main("Mostrar") {
    <a href="/logout">Cerrar session</a>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Nombre: </div>
            <div style="display: inline-block;" id="name">@row.nombre</div>
        </div>
        <div>
            <div style="display: inline-block;"> Carnet: </div>
            <div style="display: inline-block;" id="carnet">@row.carnet</div>
        </div>
        <div>
            <div style="display: inline-block;"> Telefono: </div>
            <div style="display: inline-block;" id="telefono">@row.telefono</div>
        </div>
        <div>
            <div style="display: inline-block;"> Direccion: </div>
            <div style="display: inline-block;" id="direccion">@row.direccion</div>
        </div>
        <div>
            <div style="display: inline-block;"> <a href="/productRequest_addGet" class="btn btn-primary">Crear Peticion</a> </div>
        </div>
    </div>
    <!-- Copy from productrequest_index.scala.html -->

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productRequestByVeterinario.js")'></script>
    <div>
        <a href="/">Muro</a>
    </div>
    <div>Lista de Pedidos</div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Veterinario</th>
                    <th>Almacen</th>
                    <th>Status</th>
                    <th>Detail</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>

}
