@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateTransactionFormEgreso], users: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Crear") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("transactionList"))) {
          <a href="/transaction_list" class="btn btn-info btn-sm">Lista</a> 
        }
    </div>
    @form(routes.TransactionController.addEgreso()) {
    	@inputDate(row("date"), '_label -> "Fecha")
        @select(field = row("type_1"), options = options(Map("Egreso" -> "Egreso")), '_label -> "Tipo de asiento")
        @inputText(row("description"))
        @select(field = row("receivedBy"), options = options(users))
        @select(field = row("autorizedBy"), options = options(users))
        <input type="submit" value="Inicial transaccion" class="btn btn-primary btn-sm"/>
        <a href="/transaction_list" class="btn btn-primary btn-sm">Cancelar</a>
    }
}
