@(handler: be.objectify.deadbolt.scala.DeadboltHandler, rows: Seq[Transaction])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Agregar") {
    <div class="container">
       <a href="/"  class="btn btn-primary">Muro</a>
        @restrict(roles = List(Array("transactionCreate"))) {
           <a href="/transaction_add" class="btn btn-primary">Registrar Asiento Diario</a> 
       }
    </div>
    <div>Lista de Asientos diarios</div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Description</th>
                    <th>Elaborado Por</th>
                    <th>Recibido Por</th>
                    <th>Autorizado Por</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- rows) {
                    <tr>
                        <td>@row.date</td>
                        <td>@row.description</td>
                        <td>@row.createdByName</td>
                        <td>@row.receivedByName</td>
                        <td>@row.autorizedByName</td>
                        <td>
                           @restrict(roles = List(Array("transactionEdit"))) {
                               <a href="/transaction_update/@row.id" class="btn btn-primary">Editar</a> 
                           }
                           @restrict(roles = List(Array("transactionDelete"))) {
                               <a href="/transaction_remove/@row.id" class="btn btn-danger">Eliminar</a>
                           }
                           @restrict(roles = List(Array("transactionShow"))) {
                               <a href="/transaction_show/@row.id" class="btn btn-info">Mostrar</a>
                           }
                       </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
