@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateTransactionFormIngreso], users: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Crear") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("transactionList"))) {
          <a href="/transaction_list" class="btn btn-info">Lista</a> 
        }
    </div>
    @form(routes.TransactionController.addIngreso()) {
    	@inputDate(row("date"))
        @select(field = row("type_1"), options = options(Map("Ingreso" -> "Ingreso")))
        @inputText(row("description"))
        @select(field = row("receivedBy"), options = options(users))
        @select(field = row("autorizedBy"), options = options(users))
        <input type="submit" value="Inicial transaccion" class="btn btn-primary"/>
        <a href="/transaction_list" class="btn btn-primary">Cancelar</a>
    }
}
