@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Transaction, rowForm: Form[UpdateTransactionForm], users: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Actualizar") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("transactionList"))) {
            <a href="/transaction_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("transactionShow"))) {
            <a href="/transaction_show/@row.id" class="btn btn-info">Mostrar</a> 
        }
        @restrict(roles = List(Array("transactionDelete"))) {
           <a href="/transaction_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    @form(routes.TransactionController.updatePost()) {
        @inputDate(rowForm("date"))
        @select(field = rowForm("type_1"), options = options(Map("borrador" -> "Borrador")))
        @inputText(rowForm("description"))
        @select(field = rowForm("receivedBy"), options = options(users))
        @select(field = rowForm("autorizedBy"), options = options(users))
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
        <a href="/transaction_show/@row.id" class="btn btn-primary">Cancel</a>
        @inputText(rowForm("id"), 'hidden -> "true", '_label -> "")
    }
}
