@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/transactionDetail_show.js")'></script>
    <div>
        <a href="/transaction_show/1"><span class="glyphicon glyphicon-plus">Transaction Detail</span></a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Transaccion: </div>
            <div style="display: inline-block;" id="transactionId">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Cuenta: </div>
            <div style="display: inline-block;" id="accountId">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Monto: </div>
            <div style="display: inline-block;" id="amount">  </div>
        </div>
    </div>
}
