@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateTransactionForm], users: Map[String, String])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Crear") {
    <div>
        <a href="/" class="btn btn-info">Muro</a>
        @restrict(roles = List(Array("transactionList"))) {
          <a href="/transaction_list" class="btn btn-info">Lista</a> 
        }
    </div>
    @form(routes.TransactionController.add()) {
    	@inputDate(row("date"))
        @select(field = row("type_1"), options = options(Map("bauche" -> "Bauche", "Pil" -> "Pil")))
        @inputText(row("description"))
        @select(field = row("receivedBy"), options = options(users))
        @select(field = row("autorizedBy"), options = options(users))
        <input type="submit" value="Inicial transaccion" class="btn btn-primary"/>
        <a href="/transaction_list" class="btn btn-primary">Cancelar</a>
    }
}
