@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: UnitMeasure, rowForm: Form[UpdateUnitMeasureForm])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Actualizar Modulo") {
	@examples.templates.nav(handler)
	<div>
        @restrict(roles = List(Array("measureList"))) {
            <a href="/measure_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("measureDelete"))) {
           <a href="/measure_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    @form(routes.UnitMeasureController.updatePost()) {
        @inputText(rowForm("name"))
        @inputText(rowForm("quantity"))
        @inputText(rowForm("description"))
        <input type="submit" value="Actualizar"  class="btn btn-primary"/>
        <a href="/measure_list" class="btn btn-primary">Cancel</a>
        @inputText(rowForm("id"), 'hidden -> "true", '_label -> "")
    }
}
