@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: UnitMeasure)(implicit request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Mostrar") {
    @examples.templates.nav(handler)
    <div>
        @restrict(roles = List(Array("measureList"))) {
            <a href="/measure_list" class="btn btn-primary">Listar</a> 
        }
        @restrict(roles = List(Array("measureEdit"))) {
           <a href="/measure_update/@row.id" class="btn btn-primary">Editar</a>
        }
        @restrict(roles = List(Array("measureDelete"))) {
           <a href="/measure_remove/@row.id" class="btn btn-danger">Eliminar</a>
        }
    </div>
    
    <div class="container">
        <div>
            <div style="display: inline-block;"> Nombre: </div>
            <div style="display: inline-block;" id="name">@row.name</div>
        </div>
        <div>
            <div style="display: inline-block;"> Equivalente en Unidad: </div>
            <div style="display: inline-block;" id="quantity">@row.quantity</div>
        </div>
        <div>
            <div style="display: inline-block;"> Descripcion: </div>
            <div style="display: inline-block;" id="description">@row.description</div>
        </div>
    </div>
}
