@(handler: be.objectify.deadbolt.scala.DeadboltHandler, users: Seq[User])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Agregar") {
    <div class="container">
        <a href="/"><span class="glyphicon glyphicon-plus">Muro</span></a>
    </div>
    <div class="container">
        @restrict(roles = List(Array("userCreate"))) {
                                <a href="/user_add" class="btn btn-primary">Crear</a> 
        }
    </div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Tipo</th>
                    <th>-----------</th>
                </tr>
            </thead>
            <tbody>
                @for(row <- users) {
                    <tr>
                        <td>@row.nombre</td>
                        <td>@row.carnet</td>
                        <td>@row.telefono</td>
                        <td>@row.type_1</td>
                        <td>
                            @restrict(roles = List(Array("userEdit"))) {
                                <a href="/user_update/@row.id" class="btn btn-primary">Editar</a> 
                            }
                            @restrict(roles = List(Array("userDelete"))) {
                                <a href="/user_remove/@row.id" class="btn btn-danger">Eliminar</a>
                            }
                            @restrict(roles = List(Array("userShow"))) {
                                <a href="/user_show/@row.id" class="btn btn-info">Mostrar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
