@import helper._

@main("Mostrar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/veterinario_show.js")'></script>
    <div>
        <a href="/veterinarios_view"><span class="glyphicon glyphicon-plus">Lista</span></a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Nombre: </div>
            <div style="display: inline-block;" id="name">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Carnet: </div>
            <div style="display: inline-block;" id="carnet">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Telefono: </div>
            <div style="display: inline-block;" id="telefono">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Direccion: </div>
            <div style="display: inline-block;" id="direccion">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Sueldo: </div>
            <div style="display: inline-block;" id="sueldo">  </div>
        </div>
    </div>
}
